{% extends "base.html" %}
{% load static %}

{% block title %}
Business Insurance | DTS Insurance Services
{% endblock title %}



{% block content %}
<!-- About container  Start  -->
<div class="container-fluid bg-light">
    <div class="container px-2">
        <div class="row">
            <div class="col-lg-10 mx-auto my-5 pr-lg-5">
                <!-- <h6 class="text-primary font-weight-normal text-uppercase mb-3">Why Choose Us?</h6> -->
                <h1 class="mb-4 h1 section-title">BUSINESS INSURANCE</h1>
                <h4 class="h4">SMALL BUSINESS INSURANCE IN PASO ROBLES</h4>
                <p class="text-justify">
                    If you’re looking for small business insurance in Paso Robles you’ve come to the right place. For more than 30 years Del Paso Insurance Services has been helping local families and family owned businesses reach their goals. We know the bottom line is everything but you don’t want to sacrifice coverage or protection to get there. After all, you’ve worked hard to get where you are.
                </p>
                
                <h4 class="h4">
                    WE UNDERSTAND SMALL BUSINESS
                </h4>
                <p class="text-justify">
                    Being a family owned small business in Paso Robles ourselves we understand the challenges that small business owners face. The lines between business and family are often blurred. You run straight from a business proposal to a school function and put both the mortgage payment and office payment in the same mail box. Between your family and your business, you have very little free time. Let us handle the insurance!
                </p>

                <h4 class="h4">
                    We know your time is valuable. Contact us and we will come to you!
                </h4>
                <p class="text-justify">
                    You are busy running a business and probably don’t have time to sit on hold with insurance companies, sift through quotes, and wonder which companies are reputable. We work with 30+ insurance companies and we know how to match the right client to the right insurer. Weather you own a dress shop or a tire shop there is an insurance company specializing in your type of business and we know which ones. We know which companies are stable through the experiences we have had with previous clients and know how to navigate their underwriting and service departments. </p>
                    <h4 class="h4">
                        There are many coverage options for small businesses like yours
                    </h4>
                    
                    <p>You May Need</p>
                    <ul class="list-inline">
                        <li><p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Liability insurance</span>
                           
                        </p></li>
                        <li><p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Commercial auto insurance</span>
                        </p></li>
                        <li><p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Workers comp insurance</span>
                        </p></li>
                        <li><p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Property insurance</span>
                        </p></li>
                        <li><p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Garage keeper’s coverage</span>
                        </p></li>
                    </ul>

                    <p>
                        After a brief interview and a review of your existing policies, we can recommend a package that will fit your needs at a price you can afford. Call Del Paso Insurance Services today. Well help you get to where you want to grow.
                    </p>
            </div>
            


            <div class="col-lg-5">
    
            </div>
        </div>
    </div>
</div>
<!-- About container  end  -->

{% endblock content %}