{% extends "base.html" %}
{% load static %}

{% block title %}
Engineering Insurance | DTS Insurance Services
{% endblock title %}



{% block content %}
<!-- About container  Start  -->
<div class="container-fluid bg-light">
    <div class="container px-2">
        <div class="row">
            <div class="col-lg-10 mx-auto my-5 text-justify pr-lg-5 ">
                <!-- <h6 class="text-primary font-weight-normal text-uppercase mb-3">Why Choose Us?</h6> -->
                <h1 class="mb-4 h1 section-title">ENGINEERING INSURANCE</h1>
                <h4 class="h4">Wouldn’t it be great if you could package General, Professional and Pollution Liability
                    all in one policy?</h4>

                <p>
                    You Can! And we can do it for you. Having an insurance package specially tailored to your business
                    can help avoid gaps in coverage you face by having multiple policies.
                </p>



                <h4 class="h4">
                    We know insurance, we know engineering and we know what it means to be a business owner.
                </h4>
                <ul>
                    <li>
                       DTS Insurance Services has been serving the Central Coast for over 30 years.
                    </li>
                    <li>
                        Daniel Zuniga, our Environmental/ Technical Agent, is a 20 year insurance veteran with prior
                        electrical engineering experience.
                    </li>
                </ul>

                <p>
                    Call us today to schedule a free consultation.
                </p>
                <a href="tel:5595549835" class="btn btn-primary">Give us a Call</a>

            </div>

            {% comment %} <div class="col-lg-4 mt-5 py-3">
                <img src="{% static 'img/workers.jpg' %}" class="img-fluid py-4"  alt="">
            </div> {% endcomment %}

        </div>
        <div class="row mt-3">
            <div class="col-lg-7  mx-auto my-0 text-justify pr-lg-5 ">
                <h4 class="h4 my-4">
                    Examples of who we insure:
                </h4>
                <ul class="list-inline">
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Phase I,II,III consultants</span>

                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Hydrogeological consultants</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Geotechnical consultants</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Soil and water remediation contractors</span>
                        </p>
                    </li>
                </ul>

                  <!-- Another Heading and list Start -->
                  <h4 class="h4 my-4">
                    We can custom fit your policy to include endorsement such as
                </h4>
                <ul class="list-inline">
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">$0 Liability deductible</span>

                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Worldwide coverage</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Project Specific Increased Limits</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Transportation Pollution Liability</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Down the hole coverage</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Defense outside the limits</span>
                        </p>
                    </li>
                    <li>
                        <p><i class="far fa-check-square text-primary mr-3"></i>
                            <span class="font-weight-bold">Loss of income</span>
                        </p>
                    </li>
                </ul>
                <!-- Another Heading and list End -->
            </div>

            <div class="col-lg-3 ">
                <img src="{% static 'img/workers2.jpg' %}" class="img-fluid py-4"  alt="">
            </div>
        </div>

        <!-- Another Row Started -->
        <div class="row mt-5">
            <div class="col-lg-7 mx-auto text-justify">
                 <!-- Another Heading and list Start -->
                 <h4 class="h4 my-4">
                    What We Offer
                </h4>
                <ul class="list-inline">
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Excellent handling of certificate requests that satisfy your
                                clients requirements.</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Access to multiple Environmental insurance markets and
                                products.</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Knowledge of the coverage you need.</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Peace of mind.</span>
                        </p>
                    </li>
                </ul>
                <!-- Another Heading and list End -->


                <!-- Another Heading and list Start -->
                <h4 class="h4 my-4">
                    Lines Of Insurance
                </h4>
                <ul class="list-inline">
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Professional Liability</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">General Liability</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Pollution Liability</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Excess Liability</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Auto Liability</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Workers Comp</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Property</span>
                        </p>
                    </li>
                </ul>
                <!-- Another Heading and list End -->

            </div>
            <div class="col-lg-3">
                <img src="{% static 'img/workers3.jpg' %}" class="img-fluid py-4"  alt="">
            </div>
        </div>
        <!-- Another Row End -->
    </div>
</div>
<!-- About container  end  -->

{% endblock content %}