{% extends "base.html" %}
{% load static %}

{% block title %}
Truck Insurance | DTS Insurance Services
{% endblock title %}

{% block content %}
<div class="container-fluid py-4 bg-light">
    <div class="container px-2">
        <div class="row">
            <div class=" col-lg-10 mx-auto mt-3 text-justify pr-lg-5">
                <h1 class="h1  section-title">
                    Truck Insurance
                </h1>
                <h4 class="h4">
                    Thank you for your interest in our Truck Insurance products
                </h4>
                <p class="text-justify">
                    Truck insurance in California, particularly in the Heritage area, is designed to provide <strong>financial protection</strong> for truck owners and operators against potential risk and
                    liabilities associated with operating commercial vehicals.
                    If you're looking for an affordable truck insurance policy or to save money on truck insurance we are at your service.
                    Do you want a quote on truck insurance but aren't ready to speak with an agent?
                    <strong>Click the link below to get an estimate in under 2 minutes</strong>

                </p>
                <a href="free-quote" class="btn btn-primary">
                    Get a Free Quote
                </a>
            </div>

            <div class="col-lg-4">
                <!-- Image  -->
            </div>


        </div>

        <!-- Another Row Started  -->
        <div class="row mt-0">
            <div class="col-lg-6 mx-auto my-5 text-justify pr-lg-5">
                <h4 class="h4">
                    We insure most types of trucks.
                </h4>

                <!-- List Started  -->
                <ul class="list-inline">
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Box Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Semi Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Flatbed Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Dump Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Tank Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">And many more</span>
                        </p>
                    </li>
                </ul>
                <!-- List End  -->

                <h4 class="h4">
                    We insure most trucking operations
                </h4>
                <!-- 2nd List Started  -->
                <ul class="list-inline">
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Insurance for dry van haulers</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Insurance for refer haulers</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Insurance for auto haulers</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Insurance for sand and gravel haulers</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Insurance for container haulers</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">Insurance for machinery haulers</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 "></i>
                            <span class="font-weight-bold">And many more</span>
                        </p>
                    </li>
                </ul>
                <!-- 2nd List Ended  -->
            </div>
            <div class="col-lg-4 p-5">
                <img src="{% static 'img/truck-insurance1.jpg'%}" alt="" class="img-fluid shadow">
            </div>
        </div>
        <!-- Row 1 Ended -->

        <!-- Row 2 Started -->
        {% comment %} <div class="row mt-5">
            <div class="col-lg-6 m-auto">
                <img src="{% static 'img/truckland1.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 text-right">
                <h4 class="h4">
                    We offer the best coverage in the business
                </h4>
                <ul class="list-inline">
                    <li>
                        <p>
                            <span class="font-weight-bold">Auto Liability Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2"></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Uninsured Motorist Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Medical Payments Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Physical Damage Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Rental Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Towing Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Motor Truck Cargo Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">General liability Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">Trailer Interchange Coverage</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                </ul>
                <h4 class="h4 mt-2">
                    We will file all your fillings
                </h4>
                <ul class="list-inline">
                    <li>
                        <p>
                            <span class="font-weight-bold">DOT fillings</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2"></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">MCP fillings</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">ICC fillings</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">BMC 34 fillings</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-weight-bold">We do them all!</span>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                        </p>
                    </li>
                </ul>
            </div>
        </div> {% endcomment %}
        <!-- Row 2 End -->


        <!-- Row 3 Start -->
        {% comment %} <div class="row ">
            <div class="col-lg-6 mx-auto text-justify pr-lg-5">
                <h4 class="h4">
                    Where ever you go, we go there too
                </h4>
                <ul class="list-inline">
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 mx-2"></i>
                            <span class="font-weight-bold">Local California Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                            <span class="font-weight-bold">12 Western States Truck Insurance</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                            <span class="font-weight-bold">ICC fillings</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="far fa-check-square text-primary mr-3 mx-2 "></i>
                            <span class="font-weight-bold">48 States Truck Insurance</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="{% static 'img/truck1.jpg'%}" alt="" class="img-fluid">
            </div>
        </div> {% endcomment %}
        <!-- Row 3 End -->

        <div class="container text-center my-5">
            <h4>
                Thank you.<br>We look forward to working with you and earning the chance to be your agent!
            </h4>
            <a href="free-quote" class="btn btn-primary">Get a Free Quote</a>
        </div>

    </div>
</div>
{% endblock content %}
