{% extends "base.html" %}

{% block title %}
Commercial Auto Insurance | DTS Insurance Services
{% endblock title %}

{% block content %}
<style>
    input {
        border: 1px solid rgb(149, 138, 223) !important;
    }

    .form-control {
        border-radius: 5px;
    }

    .error-message {
        font-weight: 600;
        font-size: 12px;
        color: red;
        /* padding-left: 2px; */
    }

 
</style>




<div class="container m-auto ">

    <!---->
    <div class=" mx-auto py-4">
        <h1 class="text-left ">Commercial Auto Insurance </h1>
        <p class="text-justify ">
            Drive business success confidently with DTS Commercial Auto Insurance, Our specialized coverage is meticulously crafted to meet the unique needs of your fleet, ensuring reliable protection on the road. At DTS, we understand the integral role your vehicles play in your business. Trust us to safeguard your valuable assets, allowing you to focus on the journey of achieving your company's goals and milestones without the burden of uncertainty.
        </p>
        {% comment %} <p class="text-justify ">
            Auto insurance is an essential safeguard that one must acquire when owning an auto or any other type of
            vehicle. Its purpose is to provide protection in the event of an accident. Auto insurance offers various
            forms of protection, such as covering the expenses for repairing your vehicle after an accident and
            addressing liability claims if you are found responsible for causing damage.
        </p>
        <p class="text-justify">
            Insurance companies often categorize auto insurance as property and casualty insurance, which also
            encompasses home insurance, business insurance, and disaster insurance.
        </p>
        <p class="text-justify">
            It is important to note that if an individual who is not listed on your policy has an accident with your
            auto, it may result in an increase in your own insurance premiums.
        </p> {% endcomment %}

        <a href="#commercialautoform" class="btn btn-primary mt-2">Buy Insurance Now</a>

    </div>

    {% comment %} <div class="cauto3">
        <h3>
            Auto Insurance Policy Coverage:
        </h3>
        <p>
            Your insurance company will provide you with coverage, which refers to the maximum amount of money they will
            pay you in the event of a claim. It is advisable to inquire about the specific coverage provided by your
            policy from your insurance company.
        <ul class="cauto-ul lists">
            <li class="para">
                <span class="li-head">Liability insurance :</span> provides coverage for any losses incurred due to
                injury or death caused by your vehicle to other individuals. Additionally, it offers protection for any
                damage caused by your vehicle to other vehicles. However, it is important to note that if the cost of
                the loss or damage exceeds your liability limit, you may be to personally cover the remaining balance of
                the settlement. It is crucial to understand that liability insurance does not include coverage for
                repairs to your own vehicle. Therefore, it is advisable to explore additional insurance options to
                ensure adequate coverage for such costs.
            </li>
            <li class="para">
                <span class="li-head"> Accident benefits :</span>encompass the expenses incurred for personal medical
                treatment and income loss resulting from a motor vehicle collision.
                Your auto/vehicle insurance policy may also offer you supplementary advantages.

            </li>
            <li class="para">
                <span class="li-head"> Collision insurance :</span> provides coverage for the expenses associated with
                repairing or replacing your vehicle in the event of a collision with another vehicle or object. It is
                often included as part of your compulsory insurance coverage by insurance companies.
            </li>

            <li class="para">
                <span class="li-head"> Comprehensive insurance :</span> provides coverage for the expenses incurred in
                repairing or replacing your vehicle as a result of various forms of damage or loss. This encompasses
                incidents such as vandalism, damage to your vehicle's windshield, and theft. However, it's important to
                note that comprehensive insurance does not extend coverage to specific types of loss or damage, such as
                collisions with other vehicles or objects.
            </li>

        </ul>
        </p>
    </div> {% endcomment %}

</div>

<div id="formContainer">
<div class="container my-0 d-flex flex-column justify-content-center align-items-center mb-5" id="commercialautoform">
    <h2 class=" my-3 col-md-10 text-center">
        Get a Commercial Auto Insurance Quote by Filling the following form
    </h2>

    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} role='alert' class="alert alert-success text-center {{ message.tags }} " {% endif %}> {{ message }} </p>
    {% endfor %}
    {% endif %}
    <!-- <div class=""> -->
    <form class="form-container border border-4 border-primary shadow-lg" name="Form" style="border-radius: 23px;"
        method="post" onsubmit=" return formvalid()">
        {% csrf_token %}
        <div class="container d-flex flex-column p-4 my-2 ">
            <div class="form-row">
                <div class="col-lg-12 text-center mb-4">
                    <h3>
                        Fill Up this Form
                    </h3>
                </div>
                <div class="form-group col-md-6  ">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name"><span
                        id="fname-error" class="error-message "></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name"><span
                    id="lname-error" class="error-message"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input placeholder="DOB mm/dd/yyyy" name="dob" id="dob" class="textbox-n form-control"
                        th:field="*{category}" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                        id="date" /><span id="dob-error" class="error-message"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                        maxlength="10" minlength="10"><span id="phone-error" class="error-message"></span>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email id"><span
                        id="email-error" class="error-message"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="address" name="address"
                        placeholder="Address ex.w30 Freansisco CA 34242"><span id="address-error"
                        class="error-message"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="cname" id="cname" placeholder="Company Name"><span
                        id="cname-error" class="error-message"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="dot" id="dot" maxlength="8" minlength="8"
                        placeholder="DOT Number- DOT123456"><span id="dot-error" class="error-message"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="mc" id="mc" placeholder="MC Number- MC123456"><span
                        id="mc-error" class="error-message"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="vmodel" id="vmodel" placeholder="Vehicle Model"><span
                        id="vmodel-error" class="error-message"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="vnumber" name="vnumber"
                        placeholder="Vehicle Number"><span id="vnumber-error" class="error-message"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" id="vvalue" name="vvalue"
                        placeholder="Vehicle Value"><span id="vvalue-error" class="error-message"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="drivername" name="drivername"
                        placeholder="Driver Name"><span id="drivername-error" class="error-message"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="license_no" name="license_no"
                        placeholder="License Number"><span id="license_no-error" class="error-message"></span>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center ">
                <button type="submit" class="btn btn-primary m-2 ">Submit Now</button>
                <!-- <button type="reset" class="btn btn-danger ">Clear</button> -->

            </div>

        </div>
    </form>

    <!-- </div> -->
</div>
</div>
<script>
    function formvalid() {
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var dob = document.getElementById('dob').value;
        var phone = document.getElementById('phone').value;
        var email = document.getElementById('email').value;
        var address = document.getElementById('address').value;
        var dot = document.getElementById('dot').value;
        var mc = document.getElementById('mc').value;
        var vmodel = document.getElementById('vmodel').value;
        var vnumber = document.getElementById('vnumber').value;
        var vvalue = document.getElementById('vvalue').value;
        var drivername = document.getElementById('drivername').value;
        var license_no = document.getElementById('license_no').value;

        // Clear previous error messages
        var errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(function(error) {
            error.textContent = '';
        });

        // Validate First Name
        if (fname.trim() === "") {
            document.getElementById('fname-error').textContent = "First Name is required";
            return false;
        }
        // Validate if First Name contains symbols
        if (!/^[A-Za-z]+(?: [A-Za-z]+)*$/.test(fname.trim())) {
            document.getElementById('fname-error').textContent = "First Name should contain only alphabets";
            return false;
        }
        // Validate Last Name
        if (lname.trim() === "") {
            document.getElementById('lname-error').textContent = "Last Name is required";
            return false;
        }
        if (dob.trim() === "") {
            document.getElementById('dob-error').textContent = "Date Of Birth is Required";
            return false;
        }
        if (phone.trim() === "") {
            document.getElementById('phone-error').textContent = "Phone Number is Required";
            return false;
        }

        // Regular expression to check if the phone number consists of 10 digits only
        var phoneRegex = /^\d{10}$/;

        if (!phoneRegex.test(phone.trim())) {
            document.getElementById('phone-error').textContent = "Phone Number must be 10 digits and contain only numbers";
            return false;
        }

        if (email.trim() === "") {
            document.getElementById('email-error').textContent = "Email Address is Required";
            return false;
        }
        if (address.trim() === "") {
            document.getElementById('address-error').textContent = "Address is Required";
            return false;
        }

        // Split the address into words
        var addressWords = address.trim().split(/\s+/);

        // Check if the number of words in the address is less than 10
        if (addressWords.length < 3) {
            document.getElementById('address-error').textContent = "Address must contain Atleast 3 words";
            return false;
        }

        if (dot.trim() === "") {
            document.getElementById('dot-error').textContent = "DOT Number is required";
            return false;
        }
        if (mc.trim() === "") {
            document.getElementById('mc-error').textContent = "MC Number is required";
            return false;
        }
        if (vmodel.trim() === "") {
            document.getElementById('vmodel-error').textContent = "Vehicle Model is required";
            return false;
        }
        if (vnumber.trim() === "") {
            document.getElementById('vnumber-error').textContent = "Vehicle Number is required";
            return false;
        }
        if (vvalue.trim() === "") {
            document.getElementById('vvalue-error').textContent = "Vehicle Value is required";
            return false;
        }

        // Validate Driver Name
        if (drivername.trim() === "") {
            document.getElementById('drivername-error').textContent = "Driver Name is required";
            return false;
        }
        // Validate if Driver Name contains symbols
        if (!/^[A-Za-z\s]+$/.test(drivername.trim())) {
            document.getElementById('drivername-error').textContent = "Driver Name should contain only alphabetic characters";
            return false;
        }

        if (license_no.trim() === "") {
            document.getElementById('license_no-error').textContent = "License Number is required";
            return false;
        }

        return true; // Form submission allowed if all validations pass
    }
</script>
 

{% endblock content %}