{% extends "base.html" %}

{% block title %}
Home Insurance | DTS Insurance Services
{% endblock title %}

{% block content %}
<style>
    input {
        border: 1px solid rgb(149, 138, 223) !important;
    }

    .form-control {
        border-radius: 5px;
    }
</style>


<div class="container py-4  m-auto ">
    <!---->

    <h1 class="text-left">Home Insurance </h1>
    <p class="para">
         Your home is not just a physical space, it's a sanctuary. A place where memories are created and cherished. Our comprehensive home insurance policies are crafted to provide a robust protective shield for your haven. From the unforeseen challenges posed by natural disasters to the unexpected setbacks of theft or liability issues, our coverage ensures that your dwelling and personal belongings are safeguarded against potential risks. With <span class="p-bold" style="font-weight: 600;"> DTS Insurance Services Inc.</span>, you can find peace of mind knowing that your home is secure, allowing you to focus on creating lasting memories within its walls.
    </p>
</div>

<div id="formContainer">
<div class="row my-0 d-flex flex-column justify-content-center align-items-center mb-5" id="homeinsuranceform">
    <h2 class="my-3 col-md-7 text-center">
        Get a Home Insurance Quote by Filling the following form
    </h2>
    

    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} role='alert' class="alert alert-success text-center {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
    {% endif %}


    <form class="form-container mx-5 border border-4  border-primary shadow-lg" style="border-radius: 23px;"
    method="post" onsubmit="return formvalid()">
    {% csrf_token %}
    <div class="container d-flex flex-column p-4 my-2 ">
        <div class="form-row">
            <div class="col-lg-12 text-center mb-4">
                <h3>
                    Fill Up this Form
                </h3>
            </div>
            <div class="form-group col-md-6  ">
                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                <span id="fname-error" class="error-message"></span>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                <span id="lname-error" class="error-message"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input placeholder="DOB mm/dd/yyyy" name="dob" id="dob" class="textbox-n form-control"
                    th:field="*{category}" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                    id="date" />
                <span id="dob-error" class="error-message"></span>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" maxlength="10">
                <span id="phone-error" class="error-message"></span>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email id">
                <span id="email-error" class="error-message"></span>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                <span id="address-error" class="error-message"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pin Code">
                <span id="pincode-error" class="error-message"></span>
            </div>

            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="houseno" id="houseno" placeholder="House Number">
                <span id="houseno-error" class="error-message"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="housearea" id="housearea" placeholder="House Area ex. 1200 sqft">
                <span id="housearea-error" class="error-message"></span>
            </div>

            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="pnumber" name="pnumber" placeholder="Policy Number">
                <span id="pnumber-error" class="error-message"></span>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center ">
            <button type="submit" class="btn btn-primary m-2 ">Submit Now</button>
            <!-- <button type="reset" class="btn btn-danger ">Clear</button> -->
        </div>
    </div>
    </form>

</div>
</div>



<script>
    function formvalid() {
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var dob = document.getElementById('dob').value;
        var phone = document.getElementById('phone').value;
        var email = document.getElementById('email').value;
        var address = document.getElementById('address').value;
        var houseno = document.getElementById('houseno').value;
        var pincode = document.getElementById('pincode').value;
      
        // Clear previous error messages
        var errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(function(error) {
            error.textContent = '';
        });

        // Validate First Name
        if (fname.trim() === "") {
            document.getElementById('fname-error').textContent = "First Name is required";
            return false;
        }
        // Validate if First Name contains symbols
        if (!/^[A-Za-z]+(?: [A-Za-z]+)*$/.test(fname.trim())) {
            document.getElementById('fname-error').textContent = "First Name should contain only alphabets";
            return false;
        }

        // Validate Last Name
        if (lname.trim() === "") {
            document.getElementById('lname-error').textContent = "Last Name is required";
            return false;
        }
         // Validate if First Name contains symbols
         if (!/^[A-Za-z]+(?: [A-Za-z]+)*$/.test(lname.trim())) {
            document.getElementById('lname-error').textContent = "Last Name should contain only alphabets";
            return false;
        }
        if (dob.trim() === "") {
            document.getElementById('dob-error').textContent = "Date Of Birth is Required";
            return false;
        }
        if (phone.trim() === "") {
            document.getElementById('phone-error').textContent = "Phone Number is Required";
            return false;
        }

        // Regular expression to check if the phone number consists of 10 digits only
        var phoneRegex = /^\d{10}$/;

        if (!phoneRegex.test(phone.trim())) {
            document.getElementById('phone-error').textContent = "Phone Number must be 10 digits and contain only numbers";
            return false;
        }

        if (email.trim() === "") {
            document.getElementById('email-error').textContent = "Email Address is Required";
            return false;
        }
        if (address.trim() === "") {
            document.getElementById('address-error').textContent = "Address is Required";
            return false;
        }

        // // Split the address into words
        // var addressWords = address.trim().split(/\s+/);

        // // Check if the number of words in the address is less than 10
        // if (addressWords.length < 3) {
        //     document.getElementById('address-error').textContent = "Address must contain Atleast 3 words";
        //     return false;
        // }

        if (pincode.trim() === "") {
            document.getElementById('pincode-error').textContent = "Pin Code is required";
            return false;
        }
       

        return true; // Form submission allowed if all validations pass
    }
</script>
 

{% endblock content %}