{% extends "base.html" %}

{% block title %}
Non Commercial Auto Insurance | DTS Insurance Services
{% endblock title %}

{% block content %}
<style>
    input {
        border: 1px solid rgb(149, 138, 223) !important;
    }

    .form-control {
        border-radius: 5px;
    }
</style>

<div class="container m-auto ">
    <!---->
    <div class=" mx-auto py-4">
        <h1 class="text-left ">Non Commercial Auto Insurance </h1>
        <p class="para ">
            Auto insurance is an essential safeguard that one must acquire when owning an auto or any other type of
            vehicle. Its purpose is to provide protection in the event of an accident. Auto insurance offers various
            forms of protection, such as covering the expenses for repairing your vehicle after an accident and
            addressing liability claims if you are found responsible for causing damage.
        </p>
        <p class="para">
            Insurance companies often categorize auto insurance as property and casualty insurance, which also
            encompasses home insurance, business insurance, and disaster insurance.
        </p>
        <p class="para">
            It is important to note that if an individual who is not listed on your policy has an accident with your
            auto, it may result in an increase in your own insurance premiums.
        </p>

        <a href="#formContainer" class="btn btn-primary mt-2">Buy Insurance Now</a>

    </div>

    <!--<div class="cauto2">-->
    <!--   <h3 class="text-left">-->
    <!--    Auto Insurance covers the following persons-->
    <!--   </h3 >-->
    <!--   <p>-->
    <!--    If an unfortunate accident occurs, your auto insurance policy may provide coverage for the following:-->
    <!--    <ul class="cauto-ul">-->
    <!--        <li>-->
    <!--            1. The driver of the vehicle involved in the accident.-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            2. All passengers present in the vehicle at the time of the accident.-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            3. Other individuals who were involved in the accident.-->
    <!--        </li>-->
    <!--    </ul>-->
    <!--   </p>-->
    <!--   <p class="para">-->
    <!--    However, it is important to note that in certain provinces, injured passengers or other individuals involved in the accident may be required to initially file a claim with their own insurance provider.-->
    <!--   </p>-->

    <!--   <p class="para">-->
    <!--    Furthermore, if you have additional drivers who frequently use your vehicle, it is necessary to include their names in your insurance policy. These additional drivers typically include individuals within your household who utilize the vehicle for purposes such as commuting to school or work. It is crucial to mention that if any of these additional drivers have a history of poor driving records, it may result in an increase in your insurance premiums.-->
    <!--   </p>-->
    <!--</div>-->

    <div class="cauto3">
        <h3>
            Auto Insurance Policy Coverage:
        </h3>
        <p>
            Your insurance company will provide you with coverage, which refers to the maximum amount of money they will pay you in the event of a claim. It is advisable to inquire about the specific coverage provided by your policy from your insurance company.
            <ul class="cauto-ul lists">
                <li class="para">
                    <span class="li-head">Liability insurance :</span> provides coverage for any losses incurred due to injury or death caused by your vehicle to other individuals. Additionally, it offers protection for any damage caused by your vehicle to other vehicles. However, it is important to note that if the cost of the loss or damage exceeds your liability limit, you may be required to personally cover the remaining balance of the settlement. It is crucial to understand that liability insurance does not include coverage for repairs to your own vehicle. Therefore, it is advisable to explore additional insurance options to ensure adequate coverage for such costs.
                </li>
                <li class="para">
                    <span class="li-head"> Accident benefits  :</span>encompass the expenses incurred for personal medical treatment and income loss resulting from a motor vehicle collision.
                    Your auto/vehicle insurance policy may also offer you supplementary advantages.

                </li>
                <li class="para">
                    <span class="li-head"> Collision insurance :</span> provides coverage for the expenses associated with repairing or replacing your vehicle in the event of a collision with another vehicle or object. It is often included as part of your compulsory insurance coverage by insurance companies.
                </li>

                <li class="para">
                    <span class="li-head"> Comprehensive insurance :</span>  provides coverage for the expenses incurred in repairing or replacing your vehicle as a result of various forms of damage or loss. This encompasses incidents such as vandalism, damage to your vehicle's windshield, and theft. However, it's important to note that comprehensive insurance does not extend coverage to specific types of loss or damage, such as collisions with other vehicles or objects.
                </li>

                <!--<li class="para">-->
                <!--    <h5>Additional Insurance Coverage (Optional)</h5>-->
                <!--    <p>Your eligibility for different types of optional insurance depends on your driving record. Insurance companies refer to this additional coverage as a rider or an endorsement.</p>-->
                <!--    <p>-->
                <!--        In addition to the basic policy, you might want to consider obtaining extra insurance coverage for various situations. This includes coverage for renting auto/vehicle or using alternate transportation while your vehicle is being repaired, coverage for physical damage to a rental vehicle, emergency road-side assistance, collision forgiveness to prevent an increase in your premium after your first at-fault accident, and depreciation coverage to ensure you receive the full value of your auto/vehicle.-->
                <!--    </p>-->
                <!--</li>-->
                <!--<li class="para">-->
                <!--    <h5>Theft of personal belongings not covered.  </h5>-->
                <!--    <p>Typically, vehicle insurance policies do not provide coverage for the theft of personal belongings. For instance, theft of items such as golf clubs, clothing, or personal electronics etc. from your vehicle are not covered.</p>-->

                <!--    <div>-->
                <!--        <h5 style="font-size: 18px;">Factors for Premium Calculations:</h5>-->
                <!--        <p>The amount paid to buy insurance is known as premium. </p>-->
                <!--        <p>The following factors are being considered to calculate premiums:</p>-->
                <!--        <ul class="lists">-->
                <!--            <li>-->
                <!--                Your Age-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                Your Gender-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                Where You Live-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                Your Marital Status (for Young Drivers)-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                What Auto/Vehicle you drive-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                How much you use your Vehicle-->
                <!--            </li>-->
                <!--            <li>-->
                <!--               Your Driving Records-->
                <!--            </li>-->
                <!--            <li>-->
                <!--               Your Claim History-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                The Type of Coverage you Choose-->
                <!--            </li>-->
                <!--            <li>-->
                <!--                The amount of your Deductible**-->
                <!--            </li>-->
                <!--        </ul>-->
                <!--    </div>-->
                <!--    <p>**The amount of your claim you agree to pay before your insurance company pays the rest is called “deductible”.</p>-->
                <!--</li>-->


            </ul>
        </p>
    </div>

</div>




    <!-- Form container initially hidden -->
    <div id="formContainer">
        <div class="container my-0 d-flex flex-column justify-content-center align-items-center mb-5">
            <h1 class="h3 my-3 col-md-10 text-center">
                Get a Non Commercial Auto Insurance Quote by Filling the following form
            </h1>

            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} role='alert' class="alert alert-success text-center {{ message.tags }} " {% endif %} > {{ message }} </p>
                {% endfor %}
            {% endif %}

            <form class="form-container border border-4 border-primary shadow-lg" style="border-radius: 23px;" method="post">
                {% csrf_token %}
                <div class="container d-flex flex-column p-4 my-2 ">
                    <div class="form-row">
                        <div class="col-lg-12 text-center mb-4">
                            <h3>
                                Fill Up this Form
                            </h3>
                        </div>
                        <div class="form-group col-md-6  ">
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name*"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name*"
                                required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input placeholder="DOB mm/dd/yyyy" required name="dob" id="dob"
                                class="textbox-n form-control" th:field="*{category}" type="text"
                                onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number*"
                                minlength="10" maxlength="10" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email id*"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="address" required name="address"
                                placeholder="Address-w30 Freansisco CA 34242">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="cname" id="cname" placeholder="Company Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="vnumber" name="vnumber"
                                placeholder="Vehicle Number*" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="vmodel" id="vmodel" required
                                placeholder="Vehicle Model*" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="vvalue" name="vvalue"
                                placeholder="Vehical Value*" required>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center ">
                        <button type="submit" class="btn btn-primary m-2 ">Submit Now</button>

                    </div>
                </div>
            </form>

        </div>
    </div>


</div>

{% endblock content %}