{% extends "base.html" %}
{% load static %}

{% block title %}
About | DTS Insurance Services
{% endblock title %}

{% block content %}



<!-- About Start -->

<!-- Features Start -->
{% comment %} <div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7  mt-5 py-5 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Looking For Insurance&quest; </h6>
                <h1 class="mb-4 section-title">Searching For Local Insurance Offices in Your Locality &quest;</h1>
                <p class="mb-4 h5">We Provide Our Insurance Services with Professional Agents in the given listed Cities </p>
                <ul class="list-inline">
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>ARROYO GRANDE</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>SANTA MARIA</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i>PASO ROBLES</h5></li>
                </ul>
                <a href="insurance-services" class="btn btn-primary mt-3 py-2 px-4">View More</a>
            </div>
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                    <img class="h-75 img-fluid m-2"  src="{% static "img/truck3.jpg" %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Features End -->


<!-- About container  Start  -->
<div class="container-fluid bg-light">
    <div class="container px-2">
        <div class="row">
            <div class="col-lg-10 mx-auto mt-5 ">
                <h3 class="mb-3 h3 section-title">
                    Beyond Coverage: DTS Insurance Services, Your Assurance Partner
                </h3>
                <p class="text-justify">
                       Welcome to DTS Insurance Services, where your peace of mind is our priority.
                       Discover a personalized approach to insurance that goes beyond the ordinary.
                       Our commitment is to provide not just policies, but tailored solutions that fit seamlessly into your lifestyle.
                       With competitive rates and a transparent claims process, we ensure your protection is not only comprehensive but also hassle-free.
                       At DTS, we believe in empowering our clients with knowledge and offering a wealth of resources to make informed decisions.
                       Join us on a journey where insurance becomes a partner in your life's ventures, shielding you with confidence at every step.
                       Experience the difference with DTS Insurance Services, where protection meets personalized care.
                </p>
            </div>
            <div class="col-lg-10 mx-auto my-2 ">
                <!-- <h6 class="text-primary font-weight-normal text-uppercase mb-3">Why Choose Us?</h6> -->
                <h3 class="mb-4 h4 section-title">Beyond Policies: Your Journey with DTS Insurance Services—Where California Clients Are Family!</h3>
                <p class="mb-4 text-justify">At DTS Insurance Services, we believe in going beyond the conventional approach to insurance. For us, you're not just a policyholder; you're family. Since our inception, our dedicated agents have made it their priority to treat each client with the personalized care and attention they deserve. Your trust is paramount to us, and we pride ourselves on building lasting relationships. We understand that insurance is more than just numbers; it's about ensuring your peace of mind and safeguarding what matters most to you. Join our family at DTS Insurance Services, where your journey has been our commitment since day one.</p>
                <h3 class="mb-4 h4 section-title">Tailored Excellence in Insurance: DTS Makes a Difference</h3>
                <p class="mb-4 text-justify">Discover a new standard of excellence in insurance with DTS Insurance Services. Our commitment goes beyond the ordinary; we specialize in tailoring insurance solutions to match your lifestyle and aspirations. Whether you're looking for the right coverage for your home or auto or seeking financial protection through life insurance, DTS stands as a beacon of reliability and innovation in the insurance landscape.</p>

                <!--<h5 class="mb-2">The companies we’ve acquired include:</h5>-->
                <!--<ul class="list-inline">-->
                <!--    <li><p><i class="far fa-check-square text-primary mr-3"></i><span class="font-weight-bold">Del Paso Insurance Services </span>- located in Paso Robles, Del Paso Insurance Services has been serving Paso Robles families for almost 30 years. </p></li>-->
                <!--    <li><p><i class="far fa-check-square text-primary mr-3"></i><span class="font-weight-bold">JS Hall Insurance Services </span> -  acquired in 2011. Located in Santa Maria, JS Hall Insurance Services is home to Laura Frias who has been crucial to our continued success.</p></li>-->
                    <!-- <li><p><i class="far fa-check-square text-primary mr-3"></i>Customer Satisfaction</p></li> -->
                <!--</ul>-->
                <!--<p class="mb-4 text-justify">-->
                <!--    In 2012, 4 Less Insurance Services, Del Paso Insurance Services and JS Hall Insurance Services merged and began operating as DTS Insurance Services. As one company, we’re still dedicated to helping you find the insurance policy that fits your needs and budget.-->
                <!--</p>-->
                <!--<p class="text-justify">-->
                <!--    If you need reliable coverage in Arroyo Grande, Santa Maria, and Paso Robles, trust DTS Insurance Services to shop multiple carriers and guide you through the buying process. Don’t go without the auto, home, life, commercial or general liability protection you need. Get an insurance quote by filling out our forms today!-->
                <!--</p>-->
                {% comment %} <a href="" class="btn btn-primary mt-3 py-2 px-4">View More</a> {% endcomment %}
            </div>
            <div class="col-lg-5">

            </div>
        </div>
    </div>
</div>

<!-- About container  end  -->


<!-- Team Start -->
<!-- <div class="container-fluid bg-light">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="py-5 px-4 h-100 bg-primary d-flex flex-column align-items-center justify-content-center">
                <h6 class="text-white font-weight-normal text-uppercase mb-3">Our Clients</h6>
                <h1 class="mb-0 text-center">Meet Our Satisfied Customer</h1>
            </div>
        </div>
        <div class="col-md-8 col-sm-6 p-0 py-sm-5">
            <div class="owl-carousel team-carousel position-relative p-0 py-sm-5">
                <div class="team d-flex flex-column text-center mx-3">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="{% static "img/team-1.jpg" %}" alt="">
                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary text-center px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="d-flex flex-column bg-secondary text-center py-3">
                        <h5 class="text-white">Name Goes Here</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team d-flex flex-column text-center mx-3">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="{% static "img/team-2.jpg" %}" alt="">
                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary text-center px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="d-flex flex-column bg-secondary text-center py-3">
                        <h5 class="text-white">Name Goes Here</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team d-flex flex-column text-center mx-3">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="{% static "img/team-3.jpg" %}" alt="">
                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary text-center px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="d-flex flex-column bg-secondary text-center py-3">
                        <h5 class="text-white">Name Goes Here</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team d-flex flex-column text-center mx-3">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="{% static "img/team-4.jpg" %}" alt="">
                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary text-center px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="d-flex flex-column bg-secondary text-center py-3">
                        <h5 class="text-white">Name Goes Here</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->
<!-- Team End -->



{% endblock content %}