{% extends "base.html" %}
{% load static %}

{% block title %}
About | DTS Insurance Services Inc.
{% endblock title %}

{% block content %}
<style>
    textarea, input{
        border: 1px solid rgb(149, 138, 223) !important; 
    }
    .form-control{
        border-radius: 5px;
    }
   
</style>

    <!-- Contact Start -->
    <div class="container-fluid bg-white my-3">
        <div class="container">
            <div class="row row justify-content-between">
                <div class="col-lg-5">
                    <div class="d-flex flex-column justify-content-center bg-primary contact-banner my-5">
                        <div class="d-inline-flex border border-light p-1 mb-4">
                            <h4 class="h5 text-light  m-0  p-3">We look forward to hearing from you!</h4>
                           
                        </div>
                        <div class="d-inline-flex border border-light p-4 mb-4">
                            <h1 class="flaticon-office font-weight-normal text-light m-0 mr-3"></h1>
                            <div class="d-flex flex-column">
                                <h4 class="text-light">Our Office</h4>
                                {% comment %} <p class="m-0 text-white">DTS Insurance Services Inc. <br> 3380 W Ashlan Ave
                                    <br> FRESNO, CA</p>  {% endcomment %}
                                    {% for data in sitedata %}
                                <p class="m-0 text-white">{{data.company_address}}</p> 
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="d-inline-flex border border-light p-4 mb-4">
                            <h1 class="flaticon-email font-weight-normal text-light m-0 mr-3"></h1>
                            <div class="d-flex flex-column">
                                <h4 class="text-light">Email Us</h4>
                                {% comment %} <p class="m-0 text-light">iqbal@dtsinsservices.com</p> {% endcomment %}
                                
                                {% for data in sitedata %}
                                <p class="m-0 text-light">{{data.company_email_id}}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-inline-flex border border-light p-4">
                            <h1 class="flaticon-telephone font-weight-normal text-light m-0 mr-3"></h1>
                            <div class="d-flex flex-column">
                                <h4 class="text-light">Call Us</h4>
                                
                                {% for data in sitedata %}
                                <p class="m-0 text-white"> {{data.company_phone_number}}</p>
                                <p class="m-0 text-white"> {{data.company_phone_number2}}</p>
                                {% comment %} <p class="m-0 text-white"> </p> {% endcomment %}
                                <p class="m-0 text-white"> {{data.company_phone_number3}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-5 my-lg-2 py-5 pl-lg-5">
                    {% if messages %}
                    {% for message in messages %}
                    <p  {% if message.tags %} role='alert' class="alert alert-success text-center {{ message.tags }} " {% endif %}> {{ message }} </p>
                    {% endfor %}
                    {% endif %}
                
                <div class=" ">
                    <h2 class="  mb-4 text-center col-md-12 ">
                        Let Us Contact You
                    </h2>
                    <form method="post" class="form-container border border-4 border-primary shadow-lg pt-5" style="border-radius: 23px;" onsubmit="return formvalid()">
                        {% csrf_token %}
                        <div class="row m-auto">
                            <div class="col-lg-10 m-auto">
                                <input type="text" class="form-control my-2" placeholder="Full Name" name="name" id="name" >
                                <span id="name-error" class="error-message"></span>
                    
                                <input type="text" class="form-control my-2" placeholder="Phone" name="phone" id="phone" >
                                <span id="phone-error" class="error-message"></span>
                    
                                <input type="text" class="form-control my-2" placeholder="Email" name="email" id="email" >
                                <span id="email-error" class="error-message"></span>
                    
                                <textarea name="msg" class="form-control my-2" id="msg" cols="40" rows="5" placeholder="Message" ></textarea>
                                <span id="msg-error" class="error-message"></span>
                    
                                <div class="d-flex align-items-center justify-content-content p-4">
                                    <button type="submit" class="btn btn-primary m-auto">Submit Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <script>
        function formvalid() {
            var name = document.getElementById('name').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var msg = document.getElementById('msg').value;
          
            // Clear previous error messages
            var errorMessages = document.querySelectorAll('.error-message');
            errorMessages.forEach(function(error) {
                error.textContent = '';
            });
    
            // Validate Name
            if (name.trim() === "") {
                document.getElementById('name-error').textContent = "Name is required";
                return false;
            }
            // Validate if Name contains symbols
            if (!/^[A-Za-z]+(?: [A-Za-z]+)*$/.test(name.trim())) {
                document.getElementById('name-error').textContent = "Name should contain only alphabets";
                return false;
            }
    
           
           
            if (phone.trim() === "") {
                document.getElementById('phone-error').textContent = "Phone Number is Required";
                return false;
            }
    
            // Regular expression to check if the phone number consists of 10 digits only
            var phoneRegex = /^\d{10}$/;
    
            if (!phoneRegex.test(phone.trim())) {
                document.getElementById('phone-error').textContent = "Phone Number must be 10 digits and contain only numbers";
                return false;
            }
    
            if (email.trim() === "") {
                document.getElementById('email-error').textContent = "Email Address is Required";
                return false;
            }
            if (msg.trim() === "") {
                document.getElementById('msg-error').textContent = "Message is Required";
                return false;
            }
    
    

            // Split the details into words
         var wordCount = msg.trim().length;

         // Validate minimum word count
         if (wordCount < 50) {
             document.getElementById('msg-error').textContent = "At Least 50 Characters or enter details Properly.";
             return false;
         }

           
    
            return true; // Form submission allowed if all validations pass
        }
    </script>
    
     
{% endblock content %}